* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo{
    width: 258px;
    height: 53px;
    margin-left: 102px;
  }
  .container {
    margin: 0 auto;
    max-width: 1440px;
  }
  .main {
    display: flex;
    height: 1024px;
    flex-wrap: wrap;
    background-color: #272727;
  }
  .left-panel {
    width: 878px;
    padding: 60px;
  }
  .right-panel {
    width: 562px;
    padding: 60px 60px 60px 0px;
  }
  
  .left-panel {
    background-color: #ffffff;
    color: #1c1c1c;
    display: flex;
    flex-direction: column;
  }

  
  .title {
    font-size: 64px;
    margin: 326px 0 20px 102px;
    font-family: 'Forum';
  }
  
  .collection-link {
    display: flex;
    align-items: center;
    gap: 38px;
    font-style: italic;
    font-family: "Segoe UI";
    font-size: 18px;
    margin-top: 30px;
    margin-left: 231px;
  }
  
  .collection-link .line {
    height: 1px;
    width: 130px;
    background-color: #666;
  }
  
  .language-switch {
    font-size: 14px;
    margin-top: 364px;
    margin-left: 102px;
  }
  
  .language-switch .active {
    font-weight: bold;
  }
  
  .right-panel {
    background-color: #1c1c1c;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .icons {
    display: flex;
    gap: 40px;
    font-size: 18px;
    margin-left: 140px;
  }
  
  .ring-container {
    display: flex;
    align-items: center;
    width: 322px;
    position: absolute;
    top: 367px;
    right: 387px;
  }
  
  .ring-container img {
    max-width: 100%;
    height: auto;
  }
  
  .ring-info h4 {
    text-align: right;
    font-size: 16px;
    margin-top: 9px;
    font-family: "Futura PT";
  }
  .ring-info p {
    text-align: right;
    font-size: 18px;
    margin-bottom: 9px;
    font-family: "Futura PT";
  }

  .ring-info .price {
    color: #d4a649;
    font-weight: bold;
    font-family: "Segoe UI";
    font-style: oblique;
    margin-top: 9px;
  }
  
  .categories-section {
    font-family: 'Futura PT', serif;
    margin-top: 20px;
  }
  
  /* Верхняя часть — категории */
  .categories {
    display: flex;
    gap: 20px;
  }
  
  .category-card {
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 710px;
    height: 587px;
  }
  
  .category-card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .category-text {
    position: relative;
    text-align: center;
  }
  
  .category-text p {
    font-size: 24px;
    opacity: 0.8;
  }
  
  .category-text h2 {
    font-size: 64px;
    padding-bottom: 23px;
    border-bottom: 1px solid #fff;
    font-family: "Forum";
  }
  
  .category-card.men {
    background-image: url(/assets/men.svg);
  }
  
  .category-card.women {
    background-image: url(/assets/woman.svg);
  }
  
  /* Нижняя часть — карта и поиск */
  .map-section {
    display: flex;
    background-image: url(/assets/Rectangle\ 14.svg);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .map-text {
    flex: 1;
    width: 519px;
    height: 604px;
    padding:  171px 162px 327px 162px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .map-text h3 {
    font-size: 48px;
    width: 386px;
    height: 106px;
    font-family: "Forum";
  }
  
  .map-text p {
    margin-top: 20px;
    font-size: 18px;
    opacity: 0.9;
    width: 386px;
    height: 46px;
    font-family: "Futura PT";
  }
  
  .search-bar {
    margin-top: 30px;
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
  }
  
  .search-bar input {
    flex: 1;
    background: transparent;
    border: none;
    color: white;
    padding: 10px 0;
    font-size: 16px;
  }
  
  .search-bar input::placeholder {
    color: #aaa;
  }
  
  .search-bar button {
    background: url(/assets/стрелка\ блек.svg);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    width: 30px;
    height: 17px;
  }
  
  .map-image {
    flex: 1;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .map-image img {
    width: 744px;
    height: 604px;
  }
  .product-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    background-color: #f8f8f8;
    font-family: 'Futura PT', serif;
    margin-bottom: 25px;
  }
  
  .product-item {
    background-color: #ededed;
    padding: 20px 30px 0 30px;
    width: 400px;
    height: 400px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-item-bottom {
    background-color: #ededed;
    padding: 33px 30px 0 30px;
    width: 400px;
    height: 400px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .product-item img {
    width: 260px;
    object-fit: cover;
    margin-bottom: 15px;
    margin: 27px 30px 67px 50px;
  }
  
  .product-item-bottom img {
    width: 260px;
    object-fit: cover;
    margin-bottom: 15px;
    margin: 27px 40px 67px 40px;
  }

  .product-item h4 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 9px;
  }
  
  .product-item-bottom h4 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 9px;
  }

  .product-item p {
    font-size: 18px;
    color: #666;
    margin-bottom: 9px;
  }

  .product-item-bottom p {
    font-size: 18px;
    color: #666;
    margin-bottom: 9px;
  }

  .product-item .price {
    font-size: 18px;
    color: #d4a76a;
    font-weight: bold;
    margin-bottom: 20px;
    font-style: oblique
  }

  .product-item-bottom .price {
    font-size: 18px;
    color: #d4a76a;
    font-weight: bold;
    margin-bottom: 20px;
    font-style: oblique
  }

  .product-item.large {
    grid-column: span 1;
    grid-row: span 2;
    padding: 0;
    width: 600px;
    height: 820px;
    background-image: url(/assets/etoile.svg);
  }
    
  .product-item.large h4{
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 714px 360px 0 10px;
    color: #ffffff;
  }
  .product-item.large p{
    margin-left: 30px;
    color: #ffffff;
  }
  .product-item.large .price {
    margin-left: 30px;
    margin-bottom: 30px;
    font-style: oblique
  }

  .product-item-left {
    background-color: #ededed;
    padding: 0 40px 0 20px;
    width: 400px;
    height: 400px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .product-item-left img {
    width: 320px;
    height: 300px;
    object-fit: cover;
    margin: 0 40px 0 20px;
  }
  
  .product-item-left h4 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  
  .product-item-left p {
    font-size: 18px;
    color: #666;
    margin-bottom: 8px;
    margin-left: 10px;
  }
  
  .product-item-left .price {
    font-size: 18px;
    color: #d4a76a;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
    font-style: oblique
  }



  .social-section {
      padding: 60px 0;
      background-color: #272727;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
  }
  
  .social-header {
      width: 518px;
      margin: 40px 0 80px 162px;
  }
  
  .social-title {
      font-size: 48px;
      font-weight: 300;
      letter-spacing: 2px;
      margin-bottom: 5px;
      color: #ffffff;
      display: flex;
      font-family: 'Forum', serif;;
  }
  
  .social-links {
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      margin-left: 162px;
      margin-top: 80px;
  }
  
  .social-link {
      color: #000;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 0.3s ease;
  }
  
  .social-link:hover {
      color: #888;
  }
  
  .social-link svg {
      width: 100%;
      height: 100%;
  }
  .social-img {
    display: flex;
    justify-content: space-between;
    height: 385px;
  }
  .social-img img{
    height: 385px;
  }
  .knopka {
    display: flex;
    gap: 50px;
    margin-left: 671px;
  }
  .group {
    padding-top: 6px;
  }
  .model-section-full {
    font-family: 'Futura PT', serif;
  }
  .model-column-tel {
  flex-wrap: wrap;
  padding: 0 0 0 183px;
  margin-top: 180px;
}
.model-title-top {
  font-family: "Futura PT";
  font-size: 18px;
}
.model-title {
  font-family: "Futura PT";
  font-size: 18px;
  padding-left: 25px;
}
.model-phone{
  font-size: 22px;
  color: #959595;
  padding: 30px 0 0 25px;
}
  .footer {
    background-color: #000;
    color: #fff;
    padding: 60px 40px 30px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px solid #333;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
    display: flex;
}

.footer-column-tel {
  flex: 1;
  padding: 0 20px;
  display: flex;
  margin-top: 180px;
}

.footer-title {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 300;
    color: #999;
}

.footer-phone {
    display: block;
    font-size: 18px;
    margin-bottom: 40px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-phone:hover {
    color: #c2c2c2cc;
}

.footer-nav ul {
    list-style: none;
    display: flex;
}

.footer-nav li {
    margin-bottom: 15px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: #ccc;
}

.subscribe-form {
    display: flex;
    margin-bottom: 40px;
}

.subscribe-form input {
    flex-grow: 1;
    padding: 10px 15px;
    background: transparent;
    border: 1px solid #333;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.model-subscribe-form button {
  background: url(/assets/свага.svg);
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  height: 17px;
  width: 30px;
  transition: background 0.3s;
}

.model-subscribe-form{
  display: flex;
  margin-bottom: 40px;
  margin-left: 25px;
  padding-top: 30px;
  align-items: center;
  border-bottom: 1px solid #333;
}
.model-subscribe-form input {
  flex-grow: 1;
  padding: 10px 15px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  border: none;
  width: 250px;
}
.footer-bottom {
    text-align: center;
    padding-top: 30px;
    color: #666;
    font-size: 12px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }
    
    .footer-column {
        margin-bottom: 30px;
    }
}
.model-section {
  display: flex;
  color: #272727;
}
.model {
  width: 710px;
  height: 640px;
}
.model-text {
  flex: 1;
  width: 519px;
  height: 604px;
  padding:  171px 162px 327px 162px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.model-text h3 {
  font-size: 23px;
  line-height: 1.4;
  width: 386px;
  height: 106px;
  font-family: 'Futura PT';
}
.model-subscribe{
  width: 280px;
  height: 106px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 110px;
}
.model-text p {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.9;
  width: 386px;
  height: 46px;
}

.search-bar {
  margin-top: 30px;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.search-bar input {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
  padding: 10px 0;
  font-size: 16px;
}

.search-bar input::placeholder {
  color: #aaa;
}

.model-image {
  flex: 1;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.model-image img {
  width: 710px;
  height: 640px;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-Light.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUI-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUI-Light.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


.site-footer {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 80px 162px;
  font-family: 'Futura PT', serif;
}

.footer-top {
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 72px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.footer-nav li a {
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
  width: 258px;
  height: 53px;
}

.footer-contact {
  width: 184px;
  height: 106px;
  margin-left: 274px;
  display: flex;
  flex-wrap: wrap;
}
.footer-subscribe{
  width: 280px;
  height: 106px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}
.footer-label {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #ffffff;
}

.footer-phone {
  font-size: 18px;
  margin-bottom: 10px;
  color: #c2c2c2;
}

.social-icons a {
  margin-right: 10px;
  color: white;
  font-size: 16px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
}

.subscribe-form input {
  background: transparent;
  border: none;
  color: #fff;
  padding: 8px;
  flex: 1;
  font-size: 14px;
}

.subscribe-form button {
  background: url(/assets/стрелка\ блек.svg);
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  height: 17px;
  width: 30px;
  transition: background 0.3s;
}

.app-links img {
  height: 30px;
  margin-right: 10px;
}
.line {
  background-image: url(/assets/Line.svg);
}
